{% extends 'gamelist/base.html' %}

{% block content %}
    <div style="position: fixed; top: 158px; width: 100%; background-color: lightblue;z-index: 1000;">
        {% if user.nick == invitation.user.nick %}
            <a href="{% url 'edit-invitation' invitation_pk=invitation.pk %}">
                <button id="editButton" type="button">Edit</button></a>
            ( edytuj informacje o rozgrywce )
            <br>
            <a href="{% url 'delete-invitation' invitation_pk=invitation.pk %}">
                <button id="deleteButton" type="button">Delete</button></a> ( usuń rozgrywkę )
            <br>
        {% endif %}
        {% if text %}
            {{ text }}
        {% endif %}
    </div>
    <br>
    <br>
    <h3>Informacje o rozgrywce</h3>
    <h4>Organizator: {{ invitation.user.nick }}</h4>
    <h4>Gra: {{ invitation.game }}</h4>
    <h4>Ilość graczy: {{ invitation.no_players }}</h4>
    <h4>Rozpoczęcie gry: {{ invitation.game_time }}</h4>
    <h4>Miejsce: {{ invitation.game_place }}</h4>
    {% if invitation.extra_text %}
    <h4>Dodatkowe informacje: {{ invitation.extra_text }}</h4>
    {% endif %}
    {% if invitation.players.count > 0 %}
    <h4>Zapisani gracze:</h4>
    <ul>
        {% for player in invitation.players.all %}
            <li>
                <div style="display: flex; align-items: center;">
                    {{ player.nick }}
                    {% if user.nick == invitation.user.nick %}
                        <form action="{% url 'decline-player' invitation_pk=invitation.pk player_pk=player.pk %}" method="post">
                            {% csrf_token %}
                            <input type="submit" value="Delete" style="margin-right: 20px; margin-left: 20px;">
                        </form>
                    {% endif %}
                </div>
            </li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}