{% extends 'gamelist/base.html' %}

{% block content %}
    <h3>Gry w kolekcji:</h3>
    <ul>
        {% for game in user_games %}
            <li>
                <div style="display: flex; align-items: center;">
                    <a href="{% url 'game-details' game_pk=game.pk %} " style="margin-right: 20px;">{{ game.title }}</a>
                    <form action="{% url 'delete-from-collection' game_pk=game.pk %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Delete from collection">
                    </form>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
