<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head><meta charset="utf-8"></head>
    <body>
        <div style="position: fixed; width: 100%; background-color: lightgray; text-align: right;">
            {% if user.is_autenticated %}
                {{ user.login }}
                <a href="{% url 'logout' %}" style="margin-right: 20px;">Wyloguj</a>
            {% else %}
                <a href="{% url 'register' %}" style="margin-right: 20px;">Zarejestruj się</a>
                <a href="{% url 'login' %}" style="margin-right: 20px;">Zaloguj</a>
            {% endif %}
        </div>
        </br>
        <h1>Fields of Games</h1>
        <h2>Twoja baza gier planszowych</h2>
        {% block content %}{% endblock %}
        <footer style="position: fixed; bottom: 0; width: 100%; background-color: lightgray;">
            <a href="{% url 'all-games' %}">Lista gier</a>
            </br>
            <a href="{% url 'mechanic-list' %}">Lista mechanik</a>
            </br>
            </br>
        </footer>
    </body>
</html>