{% extends 'gamelist/base.html' %}

{% block content %}
{% if user.is_superuser %}
    <div style="position: fixed; top: 158px; width: 100%; background-color: lightblue;z-index: 1000;">
        <a href="{% url 'edit-game' game_pk=game.pk %}">
            <button id="editButton" type="button">Edytuj</button></a> ( edytuj informacje o grze )
        <br>
        <form action="" method="post">
        {%  csrf_token %}
            <div style="background-color: red">
                <input type="submit" value="Yes"> ( czy na pewno chcesz usunąć grę z bazy? operacja nieodwracalna ! )
            </div>
        </form>
    </div>
    <h3>Informacje o grze</h3>
    <style>
    .img-responsive {
        width: 20%;
        height: auto;  /* Maintain the aspect ratio */
        max-width: none;  /* Disable max-width constraint */
    }
    </style>
    <div>
        <img itemprop="image" no-animate="" class="img-responsive" data-no-retina="true"
         src="{{ game.image_url }}" alt="{{ game.title }} Cover Artwork">
    </div>
    <h4>Tytuł: {{ game.title }}</h4>
    <h4>Autor: {{ game.author }}</h4>
    <h4>Opis: {{ game.description }}</h4>
    <h4>Liczba graczy: {{ game.min_players }} - {{ game.max_players }}</h4>
    <h4>Czas: {{ game.game_time }}</h4>
    <h4>Gatunek: </h4>
    <ul>
        {% for category in game.category.all %}
            <li><a href="{% url 'category-details' category_pk=category.pk %}">{{ category.name }}</a></li>
        {% endfor %}
    </ul>
    <h4>Mechaniki: </h4>
    <ul>
        {% for mechanic in game.game_mechanics.all %}
            <li><a href="{% url 'mechanic-details' mechanic_pk=mechanic.pk %}">{{ mechanic.name }}</a></li>
        {% endfor %}
    </ul>
    <h4>BGG: <a href="{{ game.bgg_link }}" target="_blank">link</a></h4>
{% endif %}
{% endblock %}