{% extends 'gamelist/base.html' %}

{% block content %}
    <h1>Wyniki wyszukiwania dla "{{ search_query }}":</h1>
    {% if games %}
        <ul>
            {% for game in games %}
            <li>
                <div style="display: flex; align-items: center;">
                    <a href="{% url 'game-details' game_pk=game.pk %} " style="margin-right: 20px;">{{ game.title }}</a>
                    {% if user.is_authenticated %}
                    <form action="{% url 'add-to-collection' game_pk=game.pk %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Add to collection">
                    </form>
                    {% endif %}
                </div>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Nie znaleziono gier w bazie</p>
    {% endif %}
{% endblock %}
